events {}

http {
    map $http_x_forwarded_for $real_client_ip {
        default $http_x_forwarded_for;
        ""      $remote_addr;
    }

    upstream app { server 172.28.0.4:8000; }
    upstream grafana { server 172.28.0.8:3000; }

    server {
        listen 0.0.0.0:8080;

        location /app/ {
            # ---- WHITELIST ---- #
            # Allow local pcs to access
            allow 192.168.0.0/16;
            # Allow the Docker bridge IP for internal Docker access from host
            allow 172.28.0.1;
            # Allow localhost access
            allow 127.0.0.1;
            allow ::1;

            # Allow office IP
            allow xxx;

            # Allow devmanager connection
            allow xxx;

            # Allow manager connection
            allow xxx;

            deny all;

            # Remove prefix before proxying
            rewrite ^/app/(.*)$ /$1 break;
            proxy_pass http://app;

            # Important headers
            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $real_client_ip;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location /grafana/ {
            # ---- WHITELIST ---- #
            # Allow the Docker bridge IP for internal Docker access from host
            allow 172.28.0.1;
            # Allow localhost access
            allow 127.0.0.1;

            deny all;
            proxy_pass http://grafana;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $real_client_ip;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

    }
}
