events {}

stream {
    upstream ssh {
        server host.docker.internal:22;
    }

    server {
        listen 2222;
        proxy_pass ssh;
    }
}

http {
    map $http_x_forwarded_for $real_client_ip {
        default $http_x_forwarded_for;
        ""      $remote_addr;
    }

    upstream app { server app:8000; }
    upstream grafana { server grafana:3000; }

    server {
        listen 8080;

        location /app/ {
            # ---- WHITELIST ---- #
            # Allow the Docker bridge IP for internal Docker access from host
            allow 172.18.0.1;
            # Allow localhost access
            allow 127.0.0.1; 
            
            deny all;        


            # IMPORTANT: Rewrite the URL to remove '/app/' prefix before proxying
            rewrite ^/app/(.*)$ /$1 break;
            proxy_pass http://app; 
        }

        location /grafana/ {
            # ---- WHITELIST ---- #
            # Allow the Docker bridge IP for internal Docker access from host
            allow 172.18.0.1;
            # Allow localhost access
            allow 127.0.0.1; 
            
            deny all;      
            proxy_pass http://grafana;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $real_client_ip;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

    }
}